---
layout: main
title: "Epsilon DL - FPL"
project_title: "FANTASY PREMIER LEAGUE"
project_description: "I have played the FPL for over 5 seasons, each decision were more passionate than logical, now I'm changing this, using the power of data."
---
<!-- Core theme CSS (includes Bootstrap)-->
<link href="{{ 'css/fpl_masthead.css' | relative_url }}" rel="stylesheet" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NK02K5SZ2M"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NK02K5SZ2M');
</script>

<!-- Post List-->
<section class="projects-section bg-light" id="latest">
  <h1 align="center">Fantasy Premier League - Posts list</h1>
  <div class="container">
      <!-- Featured Project Row-->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <ul>
                      {% for post in site.posts %}
                        {% if post.project_title == "fpl" %}
                        <li>
                          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                          <p class="text-black-50 mb-0">{{ post.excerpt }}</p>
                        </li>
                        {% endif %}
                      {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
</section>
